<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mycompany.myproject">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 这里需要替换Application-->
    <application android:name="com.github.flutterumpush.UmengApplication" android:label="flutter_umpush_example" android:icon="@mipmap/ic_launcher">
        <meta-data android:name="UMENG_APPKEY" android:value="从友盟后台拷贝的APPKEY">
        </meta-data>
        <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="从友盟后台拷贝的MESSAGE_SECRET">
        </meta-data>
        <meta-data android:name="UMENG_CHANNEL" android:value="友盟渠道名字" />
        <meta-data android:name="MZ_APP_ID" android:value="从友盟后台拷贝的魅族_APP_ID">
        </meta-data>
        <meta-data android:name="MZ_APP_KEY" android:value="从友盟后台拷贝的魅族_APP_ID">
        </meta-data>

        <meta-data android:name="XM_APP_ID" android:value="从友盟后台拷贝的小米_APP_ID">
        </meta-data>
        <meta-data android:name="XM_APP_KEY" android:value="从友盟后台拷贝的小米_APP_KEY">
        </meta-data>
        <!-- 离线唤醒，使用URL_SCHEME，例如 myproject_url://xxxxxx?order_id=123455554 -->
        <meta-data android:name="URL_SCHEME" android:value="myproject_url">
        </meta-data>
        <activity android:name="com.github.flutterumpushexample.MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="io.flutter.app.android.SplashScreenUntilFirstFrame" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 响应URL唤醒-->
                <data android:scheme="myproject_url" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host=" " android:pathPrefix="/" android:scheme=" " />
            </intent-filter>
        </activity>
    </application>
</manifest>
