<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.github.flutterumpush">
  <!-- 必须的权限 -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- 推荐的权限 -->
  <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <application>
    <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=100787815"/>
    <activity android:name="com.github.flutterumpush.UmengOtherPushActivity" android:launchMode="singleTask" android:exported="true" />
    <receiver android:name="com.github.flutterumpush.MeizuTestReceiver">
      <intent-filter>
        <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
        <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
        <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
        <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
        <action android:name="com.meizu.c2dm.intent.RECEIVE" />
        <!-- example程序包名字-->
        <category android:name="com.goldccm.visitor"></category>
      </intent-filter>
    </receiver>
  </application>
</manifest>

